<h1>Welcome to <%= @camper.name %>'s Page</h1>

<h3>Age:  <%= @camper.age %></h3>

<h3>Activities Signed Up for:</h3>

<ol>
    <% @camper.sign_ups.each do |signup| %>
    <li><%= link_to signup.activity.name, activity_path(signup.activity) %></li>
    <p>Activity Time: <%= signup.time %></p>
    <% end %>
</ol>

<%= button_to "Sign Up for a New Activity", new_sign_up_path, method: :get %>